<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/css/style.css"
    />
  </head>
  <body>
    <h2>Ini Form Input</h2>
    <form
      action="/dashboard/action"
      method="post"
    >
      <label for="name">Nama</label>
      <input
        type="text"
        name="name"
        placeholder="Pergi ke Jawa Tengah"
        id="name"
      /><br />
      <label for="name">Harga</label>
      <input
        type="number"
        name="price"
        placeholder="200000"
        id="price"
      />
      <button type="submit">Tambah / Buat</button>
    </form>
  </body>
</html>
